*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
    text-decoration: none;
    padding: 20px;
}

#link_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end; 
  align-items: center; 
}